# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/

# ❌ TÜM BUILD IGNORE
build/*

# ✅ AMA Flutter Web ÇIKTISI HARİÇ
!build/web/
!build/web/**

# iOS
**/ios/Flutter/.last_build_id

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
